# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Environments
.venv/
venv/
ENV/
env/

# pytest
.pytest_cache/
.coverage
htmlcov/

# Editor files
.vscode/
.idea/
